.DS_Store
Thumbs.db
*.user
*.suo
*.userosscache
.vs/
bin/
obj/
[Dd]ebug/
[Rr]elease/
*.ap21
*.zap21
*.ap15
*.zap15
*.ap16
*.zap16
Siemens.Engineering*.dll
Siemens.Engineering*.xml
*.pdb
*.exe
Practice/**/*.lad.generated.xml
Practice/**/*.exported.xml
.env
.env.*
.local/
