<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity
          name="Siemens.Engineering"
          publicKeyToken="d29ec89bac048f84"
          culture="neutral" />
        <codeBase
          version="19.0.0.0"
          href="file:///C:/Program%20Files/Siemens/Automation/Portal%20V19/PublicAPI/V19/Siemens.Engineering.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity
          name="Siemens.Engineering.Hmi"
          publicKeyToken="d29ec89bac048f84"
          culture="neutral" />
        <codeBase
          version="19.0.0.0"
          href="file:///C:/Program%20Files/Siemens/Automation/Portal%20V19/PublicAPI/V19/Siemens.Engineering.Hmi.dll" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
