<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity
          name="Siemens.Engineering.Base"
          publicKeyToken="29bfe5fdf4ba5d3b"
          culture="neutral" />
        <codeBase
          version="21.0.0.0"
          href="file:///C:/Program%20Files/Siemens/Automation/Portal%20V21/PublicAPI/V21/net48/Siemens.Engineering.Base.dll" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
